<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-dialog-content>
        <div class="claim-card">
            <mat-card-header>
                <mat-card-title>APPLICATION FOR EDUCATIONAL GRANT</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-subtitle>TEHREEK E AJAR E RISALAT, PAKISTAN.</mat-card-subtitle>
                <mat-card-subtitle>PROJECT: EDUCATION FOR EVERYONE.</mat-card-subtitle>
            </mat-card-header>

        </div>

        <form class="claimForm" [formGroup]="claimForm" (ngSubmit)="demandFund()">
            <!-- Avatar Container -->
            <div class="avatar-container">
                <label for="profile-picture">
                    <img *ngIf="!profilePicture" src="assets/no-image.png" alt="Avatar" class="avatar" />
                    <img *ngIf="profilePicture" [src]="profilePicture" alt="Uploaded Avatar" class="avatar" />
                    <div class="overlay">
                        <mat-icon>add_photo_alternate</mat-icon>
                    </div>
                </label>
                <input type="file" id="profile-picture" formControlName="pImg" (change)="onProfilePictureChange($event)"
                    accept="image/*" style="display: none;" />

                <mat-error
                    *ngIf="claimForm.get('pImg')?.invalid && (claimForm.get('pImg')?.dirty || claimForm.get('pImg')?.touched)">
                    Profile Picture is required.
                </mat-error>

            </div>

            <!-- Personal Information Section -->
            <div class="basic-info">
                <mat-form-field appearance="outline">
                    <mat-label>Candidate Name</mat-label>
                    <input matInput type="text" formControlName="cName" required>
                    <mat-error
                        *ngIf="claimForm.get('cName')?.invalid && (claimForm.get('cName')?.dirty || claimForm.get('cName')?.touched)">
                        Candidate Name is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Caste</mat-label>
                    <input matInput type="text" formControlName="cCaste" required>
                    <mat-error
                        *ngIf="claimForm.get('cCaste')?.invalid && (claimForm.get('cCaste')?.dirty || claimForm.get('cCaste')?.touched)">
                        Caste is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="religion">
                <mat-form-field appearance="outline">
                    <mat-label>Religion</mat-label>
                    <mat-select formControlName="cReligion">
                        <mat-option value="Muslim">Muslim</mat-option>
                        <mat-option value="Christian">Christian</mat-option>
                        <mat-option value="Hindu">Hindu</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="claimForm.get('cReligion')?.invalid && (claimForm.get('cReligion')?.dirty || claimForm.get('cReligion')?.touched)">
                        Religion is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sect</mat-label>
                    <input matInput type="text" formControlName="cSect">
                    <mat-error
                        *ngIf="claimForm.get('cSect')?.invalid && (claimForm.get('cSect')?.dirty || claimForm.get('cSect')?.touched)">
                        Sect is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                        formControlName="candidateDateOfBirth">
                    <mat-error
                        *ngIf="claimForm.get('candidateDateOfBirth')?.invalid && (claimForm.get('candidateDateOfBirth')?.dirty || claimForm.get('candidateDateOfBirth')?.touched)">
                        Date Of Birth is required.
                    </mat-error>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="family-male">
                <mat-form-field appearance="outline">
                    <mat-label>Total Family Members</mat-label>
                    <input matInput type="number" formControlName="cFamily">
                    <mat-error
                        *ngIf="claimForm.get('cFamily')?.invalid && (claimForm.get('cFamily')?.dirty || claimForm.get('cFamily')?.touched)">
                        Total Family Members is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Brothers</mat-label>
                    <input matInput type="number" formControlName="cBrothers">
                    <mat-error
                        *ngIf="claimForm.get('cBrothers')?.invalid && (claimForm.get('cBrothers')?.dirty || claimForm.get('cBrothers')?.touched)">
                        Brothers is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Occupation</mat-label>
                    <input matInput type="text" formControlName="cBrojob">
                    <mat-error
                        *ngIf="claimForm.get('cBrojob')?.invalid && (claimForm.get('cBrojob')?.dirty || claimForm.get('cBrojob')?.touched)">
                        Occupation is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="family-female">
                <mat-form-field appearance="outline">
                    <mat-label>Sisters</mat-label>
                    <input matInput type="number" formControlName="cSisters">
                    <mat-error
                        *ngIf="claimForm.get('cSisters')?.invalid && (claimForm.get('cSisters')?.dirty || claimForm.get('cSisters')?.touched)">
                        Sisters is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Occupation</mat-label>
                    <input matInput type="text" formControlName="cSisjob">
                    <mat-error
                        *ngIf="claimForm.get('cSisjob')?.invalid && (claimForm.get('cSisjob')?.dirty || claimForm.get('cSisjob')?.touched)">
                        Occupation is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="residentialAddress">
                <mat-form-field appearance="outline">
                    <mat-label>Residential Address</mat-label>
                    <input matInput type="Address" formControlName="cResadd"
                        placeholder="Ex. 100 Main St">
                    <mat-error
                        *ngIf="claimForm.get('cResadd')?.invalid && (claimForm.get('cResadd')?.dirty || claimForm.get('cResadd')?.touched)">
                        Residential Address is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="guardian-info">
                <mat-form-field appearance="outline">
                    <mat-label>Father/Guardian Name</mat-label>
                    <input matInput type="text" formControlName="cFname">
                    <mat-error
                        *ngIf="claimForm.get('cFname')?.invalid && (claimForm.get('cFname')?.dirty || claimForm.get('cFname')?.touched)">
                        Father/Guardian Name is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Father/Guardian Contact</mat-label>
                    <input matInput type="tel" formControlName="cFcon">
                    <mat-error
                        *ngIf="claimForm.get('cFcon')?.invalid && (claimForm.get('cFcon')?.dirty || claimForm.get('cFcon')?.touched)">
                        Father/Guardian Contact is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Father/Guardian CNIC #</mat-label>
                    <input matInput type="number" formControlName="cFcnic">
                    <mat-error
                        *ngIf="claimForm.get('cFcnic')?.invalid && (claimForm.get('cFcnic')?.dirty || claimForm.get('cFcnic')?.touched)">
                        Father/Guardian CNIC is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="guardian-job">
                <mat-form-field appearance="outline">
                    <mat-label>Father/Guardian Occupation</mat-label>
                    <input matInput type="text" formControlName="cFjob">
                    <mat-error
                        *ngIf="claimForm.get('cFjob')?.invalid && (claimForm.get('cFjob')?.dirty || claimForm.get('cFjob')?.touched)">
                        Father/Guardian Occupation is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Father/Guardian Monthly Income</mat-label>
                    <input matInput type="number" formControlName="cFincome">
                    <mat-error
                        *ngIf="claimForm.get('cFincome')?.invalid && (claimForm.get('cFincome')?.dirty || claimForm.get('cFincome')?.touched)">
                        Father/Guardian Monthly Income is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Source Of Income</mat-label>
                    <input matInput type="text" formControlName="oIncome">
                    <mat-error
                        *ngIf="claimForm.get('oIncome')?.invalid && (claimForm.get('oIncome')?.dirty || claimForm.get('oIncome')?.touched)">
                        Other Source Of Income is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Whole Income</mat-label>
                    <input matInput type="number" formControlName="allIncome">
                    <mat-error
                        *ngIf="claimForm.get('allIncome')?.invalid && (claimForm.get('allIncome')?.dirty || claimForm.get('allIncome')?.touched)">
                        Whole Income is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="institute-info">
                <mat-form-field appearance="outline">
                    <mat-label>Candidate's Class/Grade</mat-label>
                    <input matInput type="text" formControlName="stuGrade">
                    <mat-error
                        *ngIf="claimForm.get('stuGrade')?.invalid && (claimForm.get('stuGrade')?.dirty || claimForm.get('stuGrade')?.touched)">
                        Candidate's Class/Grade is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Candidate's Institute Name</mat-label>
                    <input matInput type="text" formControlName="sInstituteName">
                    <mat-error
                        *ngIf="claimForm.get('sInstituteName')?.invalid && (claimForm.get('sInstituteName')?.dirty || claimForm.get('sInstituteName')?.touched)">
                        Candidate's Institute Name is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="candyinstituteaddress">
                <mat-form-field appearance="outline">
                    <mat-label>Institute Address</mat-label>
                    <textarea matInput type="Address" formControlName="iAddress"
                        placeholder="Ex. 100 Main St"></textarea>
                    <mat-error
                        *ngIf="claimForm.get('iAddress')?.invalid && (claimForm.get('iAddress')?.dirty || claimForm.get('iAddress')?.touched)">
                        Institute Address is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="institute-cont">
                <mat-form-field appearance="outline">
                    <mat-hint>Contact Information Of Institute</mat-hint>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="iAuthorityName">
                    <mat-error
                        *ngIf="claimForm.get('iAuthorityName')?.invalid && (claimForm.get('iAuthorityName')?.dirty || claimForm.get('iAuthorityName')?.touched)">
                        Contact Information Of Institute is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="iAuthorityEmail">
                    <mat-error
                        *ngIf="claimForm.get('iAuthorityEmail')?.invalid && (claimForm.get('iAuthorityEmail')?.dirty || claimForm.get('iAuthorityEmail')?.touched)">
                        Email is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput type="text" formControlName="iAuthorityCon">
                    <mat-error
                        *ngIf="claimForm.get('iAuthorityCon')?.invalid && (claimForm.get('iAuthorityCon')?.dirty || claimForm.get('iAuthorityCon')?.touched)">
                        Contact is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="file-upload-section">
                <mat-form-field appearance="outline">
                    <mat-label>Institution Admission Form</mat-label>
                    <input type="file" hidden #admissionFileInput formControlName="uploadAdmissionnF"
                        (change)="onFileChange($event, 'uploadAdmissionnF')" accept=".pdf">
                    <input type="text" matInput
                        [value]="admissionFileName || claimForm.get('uploadAdmissionnF')?.value?.name || ''" readonly>
                    <button mat-icon-button color="primary" (click)="admissionFileInput.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </mat-form-field>

                <mat-error
                    *ngIf="claimForm.get('uploadAdmissionnF')?.invalid && (claimForm.get('uploadAdmissionnF')?.dirty || claimForm.get('uploadAdmissionnF')?.touched)">
                    Institution Admission Form is required.
                </mat-error>

                <mat-form-field appearance="outline">
                    <mat-label>Fee Slip Voucher</mat-label>
                    <input type="file" hidden #voucherFileInput formControlName="feeSlip"
                        (change)="onFileChange($event, 'feeSlip')" accept=".pdf">
                    <input type="text" matInput [value]="feeSlipFileName || claimForm.get('feeSlip')?.value?.name || ''"
                        readonly>
                    <button mat-icon-button color="primary" (click)="voucherFileInput.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </mat-form-field>

                <mat-error
                    *ngIf="claimForm.get('feeSlip')?.invalid && (claimForm.get('feeSlip')?.dirty || claimForm.get('feeSlip')?.touched)">
                    Fee Slip Voucher is required.
                </mat-error>

            </div>

            <div class="monthlyFee">
                <mat-form-field appearance="outline">
                    <mat-label>Institute Monthly Fee</mat-label>
                    <input matInput type="number" formControlName="iMonFee">
                    <mat-error
                        *ngIf="claimForm.get('iMonFee')?.invalid && (claimForm.get('iMonFee')?.dirty || claimForm.get('iMonFee')?.touched)">
                        Institute Monthly Fee is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Institute's Other Expenses</mat-label>
                    <input matInput type="number" formControlName="feeVoucher">
                    <mat-error
                        *ngIf="claimForm.get('feeVoucher')?.invalid && (claimForm.get('feeVoucher')?.dirty || claimForm.get('feeVoucher')?.touched)">
                        Institute's Other Expenses is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="feePaidBy">
                <section>
                    <mat-hint>Fee Paid By: </mat-hint>
                    <mat-checkbox formControlName="cash">Cash</mat-checkbox>
                    <mat-checkbox formControlName="online">Online</mat-checkbox>
                </section>

                <mat-error
                    *ngIf="claimForm.get('cash')?.invalid && claimForm.get('online')?.invalid &&
                  (claimForm.get('cash')?.dirty || claimForm.get('cash')?.touched || claimForm.get('online')?.dirty || claimForm.get('online')?.touched)">
                    Please select at least one payment option (Cash or Online).
                </mat-error>
            </div>

            <div class="certification-section">
                <mat-card-title>Certification and Acknowledgement</mat-card-title>
                <p>I hereby certify that I filled out the form after reading and understanding it and providing
                    the correct information as per my knowledge.</p>
                <p>I promise that I will honestly inform Tehreek e Ajar e Risalat if my income becomes
                    sufficient and can bear educational expenses by myself in the future or if I/my child stops
                    going to school/college.</p>

                <mat-checkbox formControlName="certify">I agree with the Certification and
                    Acknowledgement</mat-checkbox>

                <mat-error
                    *ngIf="claimForm.get('certify')?.invalid && (claimForm.get('certify')?.dirty || claimForm.get('certify')?.touched)">
                    You must agree to the Certification and Acknowledgement.
                </mat-error>

            </div>

            <div class="reference-container">
                <div class="reference1-section">
                    <mat-card-title>Reference No. 1</mat-card-title>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="refOName">
                        <mat-error
                            *ngIf="claimForm.get('feeVoucher')?.invalid && (claimForm.get('feeVoucher')?.dirty || claimForm.get('feeVoucher')?.touched)">
                            Institute's Other Expenses is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>CNIC</mat-label>
                        <input matInput type="text" formControlName="refOCnic">
                        <mat-error
                            *ngIf="claimForm.get('refOCnic')?.invalid && (claimForm.get('refOCnic')?.dirty || claimForm.get('refOCnic')?.touched)">
                            CNIC is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contact</mat-label>
                        <input matInput type="text" formControlName="refOCont">
                        <mat-error
                            *ngIf="claimForm.get('refOCont')?.invalid && (claimForm.get('refOCont')?.dirty || claimForm.get('refOCont')?.touched)">
                            Contact is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date Of Submission</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerDateOfSubmission"
                            formControlName="refODos">

                        <mat-error
                            *ngIf="claimForm.get('refODos')?.invalid && (claimForm.get('refODos')?.dirty || claimForm.get('refODos')?.touched)">
                            Date Of Submission.
                        </mat-error>

                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="pickerDateOfSubmission"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateOfSubmission></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="reference2-section">
                    <mat-card-title>Reference No. 2</mat-card-title>
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="refTName">
                        <mat-error
                            *ngIf="claimForm.get('refTName')?.invalid && (claimForm.get('refTName')?.dirty || claimForm.get('refTName')?.touched)">
                            Name is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>CNIC</mat-label>
                        <input matInput type="text" formControlName="refTCnic">
                        <mat-error
                            *ngIf="claimForm.get('refTCnic')?.invalid && (claimForm.get('refTCnic')?.dirty || claimForm.get('refTCnic')?.touched)">
                            CNIC is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Contact</mat-label>
                        <input matInput type="text" formControlName="refTCont">
                        <mat-error
                            *ngIf="claimForm.get('refTCont')?.invalid && (claimForm.get('refTCont')?.dirty || claimForm.get('refTCont')?.touched)">
                            Contact is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Date Of Approval</mat-label>
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerDateOfApproval"
                            formControlName="refTDoa">

                        <mat-error
                            *ngIf="claimForm.get('refTDoa')?.invalid && (claimForm.get('refTDoa')?.dirty || claimForm.get('refTDoa')?.touched)">
                            Date Of Approval is required.
                        </mat-error>

                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="pickerDateOfApproval"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateOfApproval></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <mat-card-actions class="actions-section">
                <button type="button" mat-raised-button color="warn">Cancel</button>
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon>save</mat-icon>Submit
                </button>
            </mat-card-actions>
        </form>
    </mat-dialog-content>
</body>

</html>