/* Import Angular Material styles and theming */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/theming";

/* Include Material core styles */
@include mat-core();

/* Define theme colors */
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$pink: mat-palette($mat-pink);
$purple: mat-palette($mat-purple);
$deep-purple: mat-palette($mat-deep-purple);
$light-blue: mat-palette($mat-light-blue);
$cyan: mat-palette($mat-cyan);
$teal: mat-palette($mat-teal);
$green: mat-palette($mat-green);
$light-green: mat-palette($mat-light-green);
$lime: mat-palette($mat-lime);
$yellow: mat-palette($mat-yellow);
$amber: mat-palette($mat-amber);
$orange: mat-palette($mat-orange);
$grey: mat-palette($mat-grey);
$blue-grey: mat-palette($mat-blue-grey);
$black: mat-palette($mat-grey, 900);
$white: mat-palette($mat-grey, 50);
$brown: mat-palette($mat-brown);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  // overflow-y: auto;
  max-height: 70rem;
}

.claim-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid #868686;
  border-radius: 4px;
  margin: 10px;
  padding-bottom: 5%;
}

.claim-card mat-card-title {
  font-weight: bold;
  font-size: 24px;
  color: mat-color($black);
  padding-bottom: 20px;
}

.claim-card mat-card-subtitle {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.avatar-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  align-items: center;
  justify-content: center;
  // align-self: center;
  position: relative;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: mat-color($white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatar-container:hover .overlay {
  opacity: 1;
}

.basic-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 10px;
  padding-top: 5%;
  mat-form-field {
    flex-grow: 4;
  }
}

.religion {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.family-male {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.family-female {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.residentialAddress {
  display: flex;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.guardian-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.guardian-job {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.institute-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.candyinstituteaddress {
  display: flex;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.institute-cont {
  mat-hint {
    // display: flex;
    font-size: small;
    font-weight: bold;
    // align-items: center;
    // justify-content: center;
  }
  display: flex;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.file-upload-section {
  display: flex;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.monthlyFee {
  display: flex;
  gap: 20px;
  margin: 10px;
  mat-form-field {
    flex-grow: 4;
  }
}

.feePaid {
  display: flex;
  margin: 1%;
  padding: 1%;
  mat-form-field {
    flex-grow: 4;
  }
}

.certification-section {
  display: flex;
  flex-direction: column;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

.certification-section mat-card-title {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2%;
  color: mat-color($black);
}

.certification-section p {
  margin: 10px 0;
  border-radius: 3%;
}

.reference-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reference1-section,
.reference2-section {
  mat-card-title {
    padding: 1%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: mat-color($black);
  }

  flex: 1;
  max-width: calc(50% - 10px);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5%;
  gap: 20px;
  margin: 10px;

  mat-form-field {
    width: 100%;
  }
}

.actions-section {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px;
}
