// Import Angular Material styles and theming
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/theming";

// Include Material core styles
@include mat-core();

// Define theme colors
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$pink: mat-palette($mat-pink);
$purple: mat-palette($mat-purple);
$deep-purple: mat-palette($mat-deep-purple);
$light-blue: mat-palette($mat-light-blue);
$cyan: mat-palette($mat-cyan);
$teal: mat-palette($mat-teal);
$green: mat-palette($mat-green);
$light-green: mat-palette($mat-light-green);
$lime: mat-palette($mat-lime);
$yellow: mat-palette($mat-yellow);
$amber: mat-palette($mat-amber);
$orange: mat-palette($mat-orange);
$grey: mat-palette($mat-grey);
$blue-grey: mat-palette($mat-blue-grey);
$black: mat-palette($mat-grey, 900);
$white: mat-palette($mat-grey, 50);
$brown: mat-palette($mat-brown);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-y: auto;
  max-height: 50rem;
}

// Mat-Card Styles

mat-card {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: mat-color($black);
}

mat-card-subtitle {
  font-size: 16px;
}

mat-divider {
  margin: 10px 0;
}

// Avatar Styles

.avatar-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 7% auto;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatar-container:hover .overlay {
  opacity: 1;
}

// Form Field Styles

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

mat-hint {
  font-size: 12px;
}

// Personal Information Section Styles

.personal-info-section {
  display: flex;
  justify-content: space-between;
}

.religion,
.dateOfBirth,
.residentialAddress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}



// Guardian Information Section Styles

.guardian-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.fatherName,
.fatherContact,
.fatherCnic,
.fatherJob,
.fatherIncome,
.sourcesOfIncome,
.allIncomes {
  grid-column: span 2;
}

// Institute Information Section Styles

.institute-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.candidateClass,
.candidateInstitute,
.candyinstituteaddress,
.candidateClass,
.candidateInstitute {
  grid-column: span 2;
}

// File Upload Section Styles

.file-upload-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.admissionForm,
.voucher {
  grid-column: span 2;
}

.example-section {
  grid-column: span 2;
}

// Certification and Acknowledgement Section Styles

.certification-section {
  margin-top: 20px;
  p {
    margin: 10px 0;
  }
}

// Reference No. 1 Section Styles

.reference1-section {
  margin-top: 20px;
  .ref1 {
    margin-top: 10px;
    font-size: 20px;
  }
}

// Reference No. 2 Section Styles

.reference2-section {
  margin-top: 20px;
  .ref2 {
    margin-top: 10px;
    font-size: 20px;
  }
}

// Card Actions Styles

.actions-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
